<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ShitBlock Options</title>

	<link href="css/bootstrap.css" rel="stylesheet">
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/angular-local-storage.js"></script>
	<script src="options.js"></script>
	<style type="text/css">
			
			body {
				padding: 1em 0;
			}
		
			form.nomargin {
				margin: 0px !important;
			}
			
	</style>
</head>
<body ng-app="ShitBlock">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="well text-center">
					<img src="img/icon128.png">
					<h1>ShitBlock Options</h1>
					<p class="lead">Configure your ShitBlock options easily</p>
				</div>
			</div>
		</div>

	</div>
	<div class="container" ng-controller="OptionsCtrl">

		<div class="row">
			<div class="span12">
				<h3>Shit users</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<form class="form-inline" role="form" ng-submit="add(newUser)" ng-validate="formValid">
					<div class="input-append">
						<input class="span3" id="appendedInputButton" type="text" ng-model="newUser.login" placeholder="Add shitter...">
						<button class="btn btn-info" type="submit" ng-disabled="!formValid(newUser)">
							<i class="icon icon-white icon-plus"></i>
							Ignore that shitter !
						</button>
					</div>
				</form>
			</div>
			<div class="span6">
				<div class="pull-right">
					<form class="form-search">
						<input type="text" class="span4 input-medium search-query" placeholder="Rechercher..." ng-model="searchText">
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<table class="table-bordered table">
					<tbody>
						<tr ng-repeat="shit in shitUsers | orderBy:login | filter:searchText">
							<td class="span1">{{shit.login}}</td>
							<td ng-if="editing[shit.login]" ng-click="editDescription(shit)">
								<form class="form-inline nomargin" ng-submit="saveDescription(shit)">
									<input type="text" class="span6 form-control" placeholder="Enter description" ng-model="shit.description" autofocus="autofocus">
								</form>
							</td>
							<td ng-if="!editing[shit.login]" ng-click="editDescription(shit)">
								<p>{{shit.description}}</p>
							</td>
							<td class="span1">
								<div class="pull-right">
									<button type="button" class="btn btn-danger" ng-click="delete(shit.login)">
										<i class="icon icon-remove"></i>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
